{% extends 'base.html.twig' %}

{% block title %}Mon panier - Ecommerce
{% endblock %}

{% block body_id 'shopping_cart_show' %}

{% block body %}
	<div class="row">
		<div class="col-md-8">
			<i class="fa fa-shopping-cart fa-6" aria-hidden="true"></i>
			Votre Panier
		</div>
		{% if order.items|length > 0 %}
			<div class="col-md-4">
				<div class="col-md-6 float-md-right text-sm-right">
					{{ form_start(clearForm) }}
					{{ form_widget(clearForm.id) }}
					{{ form_widget(clearForm.submit) }}
					{{ form_end(clearForm) }}
				</div>
			</div>
		{% endif %}
	</div>

	<section class="section-content bg py-4">

		<div class="row">
			<main class="col-sm-9">

				{% if order.items|length > 0 %}
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Produit</th>
								<th scope="col">Quantité</th>
								<th scope="col">Prix</th>
								<th scope="col">Total</th>
								<th scope="col"></th>

								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for item in order.items %}
								<tr>
									<td>
										<figure class="media">
											<div class="img-wrap">
												<img src="/uploads/{{ item.product.illustration }}" class="img-thumbnail img-sm">
												{{ item.product.name }}
											</div>
										</figure>
									</td>
									<td><input type="number" value="{{ item.quantity }}" class="form-control" min="1"/></td>
									<td>{{ item.product.price|number_format(2, ',', '.') }}
										€</td>
									<td>{{ item.priceTotal|number_format(2, ',', ' ') }}</td>
									<td>{{ render(controller('App\\Controller\\CartController::removeItemForm', {'id' : item.id})) }}</td>
								</tr>


							{% endfor %}
						</tbody>
					</table>

				{% else %}
					<div class="text-right mb-5"></div><hr><p>
						<b>Votre panier est vide.</b>
					</p>
				{% endif %}


			</main>

			<aside class="col-sm-3">
				<p class="alert alert-success">Add USD 5.00 of eligible items to your order to qualify for FREE Shipping.
				</p>

				<dl class="dlist-align">
					<dt>Total price:</dt>
					<dd class="text-right">
						{{ order.summary.priceTotal|number_format(2, ',', ' ') }}
						€
					</dd>
				</dl>
				<dl class="dlist-align">
					<dt>Discount:</dt>
					<dd class="text-right">todo</dd>
				</dl>
				<dl class="dlist-align h4">
					<dt>Total:</dt>
					<dd class="text-right">
						<strong>{{ order.summary.priceTotal|number_format(2, ',', ' ') }}
							€</strong>
					</dd>
				</dl>
				<hr>
				<div class="text-center">
					<a href="{{ path('order')}}" type="button" class="btn btn-labeled btn-primary w-100">
						<span class="btn-label">
							<i class="fa fa-check"></i>
						</span>Valider
					</a>
				</div>
			</aside>
		</div>
	</section>
{% endblock %}
