{% extends 'base.html.twig' %}
{% block body %}
	<h1>Inscription</h1>
	<h4 class="ui dividing header">Personal information</h4>
	{{ form(registrationForm) }}{% endblock %}
	{% block javascripts %}
		{{ encore_entry_script_tags('intlTelInput') }}
	{% endblock %}
