{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-5">
			<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="col-md-7 my-auto">
			<h3>{{ product.name }}</h3>
			<p>{{ product.subtitle }}</p>
			<span class="product-page-price">{{ (product.price / 100)|number_format(2, ',', '.') }}
				€</span>
			<hr>
			<p>
				{{ product.description }}
			</p>

			{{ form_start(form, {'action':  path('add_to_cart', { 'id' : product.id }), 'method': 'POST'}) }}
			{{ form_widget(form) }}
			<button type="submit" class="btn btn-lg btn-primary" href="#">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				Ajouter au panier
			</button>
			{{ form_end(form) }}
		</div>
	</div>
	<hr>
	<h3>Nos meilleures ventes</h3>
	<p>Découvrez les articles les plus vendus.</p>
	<div class="row">
		{% for product in products %}
			<div class="col-md-3">
				{% include 'product/_single_product.html.twig' %}
			</div>
		{% endfor %}
	</div>
	<!-- /.row -->

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('cart') }}
{% endblock %}
