body {
    position: relative;
}

.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
    margin-top: 50px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item {
    margin-top: 50px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}

.product-page-price {
    font-width: bold;
    font-size: 19px;
}

.cart-icon {
    height: 20px;
    padding-left: 20px;
}

.register-block {
    padding: 10px;
    background-color: #fafafa;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}

.account-item {
    background-color: #f1f2f6;
    padding: 70px;
}

.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
}
.account-item a:hover {
    color: #778ca3;
    text-decoration: none;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

label.required::after {
    content: " *";
    color: red;
}

body#shopping_cart_show .img-sm {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media(min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



/* Page: 'Shopping cart'
   ------------------------------------------------------------------------- */
   body#shopping_cart_show .shopping-cart-wrap thead th {
    border-top: 0;
    border-bottom: 0;
  }
  
  body#shopping_cart_show .shopping-cart-wrap img {
    max-width: 100px;
  }
  
  body#shopping_cart_show .media .img-wrap {
    margin-right: 1rem;
  }
  
  body#shopping_cart_show .card .img-wrap {
    overflow: hidden;
  }
  
  body#shopping_cart_show .img-wrap {
    text-align: center;
    display: block;
  }
  
  body#shopping_cart_show .img-wrap img {
    max-width: 100%;
  }
  
  body#shopping_cart_show .img-sm {
    width: 80px;
    height: 80px;
  }
  
  body#shopping_cart_show .img-xs, .img-sm, .img-md, .img-lg {
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  body#shopping_cart_show .dlist-inline dt, .dlist-inline dd {
    display: inline-block;
  }
  
  body#shopping_cart_show .dlist-align dt {
    width: 90px;
    float: left;
    word-wrap: break-word;
  }
  
  body#shopping_cart_show .dlist-align dd {
    margin-left: 120px;
    vertical-align: baseline;
  }
  
  body#shopping_cart_show [class*="dlist-"] {
    margin-bottom: 5px;
  }
  
  body#shopping_cart_show [class*="dlist-"] dd {
    margin-bottom: 0;
  }
  
  body#shopping_cart_show .itemside {
    position: relative;
    display: inline-flex;
    width: 100%;
  }
  
  body#shopping_cart_show .itemside .text-wrap {
    padding-left: 15px;
    padding-right: 7px;
  }
  
  body#shopping_cart_show .itemside img {
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  body#shopping_cart_show option.quantity-option-10 {
    border-top-color: #e7e7e7;
    border-top-width: 1px;
    border-top-style: solid;
  }
  
/* Bootstrap button with icons
   ------------------------------------------------------------------------- */
.btn-label {position: relative;left: -82px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }