{% extends "emails/layout.html.twig" %}

{% block subject %}{% endblock subject %}

{% block body %}
	<hr>
	<h1>Order Confirmation<h1>
			<p>We recieved order and we\'ll let you know when we ship it out</p><br>
			<h2>Your Order</h2>
			<hr>
			<table>
				{% for o in order.items %}
					<td>{{o.quantity}}</td>
					<td><img src={{ o.product.illustration }}></td>
					<td>{{o.product.name}}</td>
					<td>{{o.priceTotal}}</td>
				</table>
			{% endfor %}
		{% endblock %}
