{% extends 'base.html.twig' %}
{% block title %}Mes adresses- La Boutique Française
{% endblock %}


{% block body %}
	{{ wo_render_breadcrumbs() }}
	<a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
	<h1>Mes address</h1>
	C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses.<br/>
	<a href="{{ path('account') }}" title="Précédent">
		<i class="fa fa-backward"></i>
	</a>

	<hr>

	{% if app.user.addresses|length == 0 %}
		<p class="text-center">
			Vous n'avez pas encore ajouté d'adresse dans votre compte client. Pour en ajouter une, veuillez
			<a href="{{ path('account_address_add') }}">cliquer ici</a>.
		</p>
	{% else %}
		<div class="row">
			{% for address in app.user.addresses %}
				<div id="address{{address.id}}" class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">
								<strong>{{ address.firstName }}
									{{ address.lastName }}</strong>
							</h5>
							<p class="card-text">{{ address.phoneNumber }}<br/><br/>
								{{ address.postCode }}
								-
								{{ address.city }}
								-
								{{ address.countryCode }}
							</p>
							<a href="{{ path('account_address_edit', { 'id' : address.id }) }}">Modifier</a>
							<a href="#" type="button" data-toggle="modal" data-target="#confirmationModal" data-remove-url="{{url('account_address_delete',{id:address.id}) }}" data-id="{{address.id}}" class="deleteBtn">Supprimer</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<!-- Modal -->
	<div class="modal fade" id="confirmationModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4>Suppression</h4>
					<p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
						<i class="fa fa-ban" aria-hidden="true"></i>
						Annuler
					</button>
					<a href="#" class="btn w-sm btn-danger remove_item">Supprimer</a>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
